body {
    padding: 0;
    margin: 0;
}
/* navbar */
.navbar-nav a {
    color: #ffffff;
}
#navbar {
    background-color: #045762;
}

/* header */
#header {
    background-color: #f3f2da;
}

.menu {
    border-top: 1px solid #000000;
    padding-top: 8px;
}
#menu-makanan {
    margin-top: 32px;
}

.card {
    margin: 16px 0;
}

@media (max-width: 768px) {
    .card {
        width: 400px;
    }
}
