body {
    padding: 0;
    margin: 0;
}
/* navbar */
.navbar-nav a {
    color: #ffffff;
}
#navbar {
    background-color: #045762;
}

/* header */
#header {
    background-color: #f3f2da;
}

.menu {
    border-top: 1px solid #000000;
    padding-top: 8px;
}
#menu-makanan {
    margin-top: 32px;
}

.card {
    margin: 16px 0;
}

/* homepage */
.container-fluid.description{
    background-color: #246871;
}
.text1{
    color: white;
    font-size: 55px;
    
}
.text2{
    color: #FFA101;
    font-size: 55px;
}
.img_homepage img{
    margin-left: -55px;
}
.stand-c,.location{
    background-color: #96BDC3;
}
.stand-c-container{
    position: relative;
    background-color: #FFFFFF;
    border-radius: 0 30px 0 30px;
    -webkit-border-radius: 0 30px 0 30px;
    -moz-border-radius: 0 30px 0 30px;
    -ms-border-radius: 0 30px 0 30px;
    -o-border-radius: 0 30px 0 30px;
}
.location-container{
    background-color: #FFFFFF;
    border-radius: 0 30px 0 30px;
    -webkit-border-radius: 0 30px 0 30px;
    -moz-border-radius: 0 30px 0 30px;
    -ms-border-radius: 0 30px 0 30px;
    -o-border-radius: 0 30px 0 30px;
    overflow: hidden;
}
.img_location{
    order: -1;
}
.daun{
    background-color: #246871;
    width: 200px;
    height: 60px;
    border-radius: 0 30px 0 30px;
    position: absolute;
    top: -30px;
    -webkit-border-radius: 0 30px 0 30px;
    -moz-border-radius: 0 30px 0 30px;
    -ms-border-radius: 0 30px 0 30px;
    -o-border-radius: 0 30px 0 30px;
}
.daun h2{
    line-height: 60px;
    color: white;
}
.desc{
    background-color: #246871;
    height: 80px;
}
.desc p{
    font-size: 20px;

}
footer{
    background-color: #246871;
    min-height: 100px;
}
footer p{
    color: #96BDC3;
}
@media (max-width: 768px) {
    .card {
        width: 400px;
    }
}
